.card{
    display: inline-block;
    border: black solid 1px;
    margin: 5px;
    border-radius: 5px;
}
.imagenes{
    width: 300px;
}
.btn{
    background: rgb(45, 180, 45);
    border: black solid 1px;
    border-radius: 5px;
}