* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    --clr-main: #c56cee;
    --clr-main-light: #efdaf9;
}
.card{
    display: inline-block;
    border: black solid 1px;
    margin: 5px;
    border-radius: 5px;
}
.imagenes{
    width: 300px;
}
.btn{
    background: #67ca50;
    border: black solid 1px;
    border-radius: 5px;
}

.Count{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.btn2{
    background-color: blueviolet;
    color: wheat;
    border-radius: 5px;
    width: 2rem;
    height: 2rem;
}
.btn3{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blueviolet;
    color: wheat;
    border-radius: 5px;
    width: 5rem;
    height: 2rem;
    margin: 5px;
}
.container{
    margin: 30px;
}
.formulario {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    align-items: flex-start;
}

.formulario input {
    padding: .5rem;
    width: 18rem;
    border-radius: .5rem;
    border: px solid black;
}

.formulario input:focus {
    outline: 0;
    border: 1px solid var(--clr-main);
    outline: 1px solid var(--clr-main);
}